<!DOCTYPE html>
<html lang="en">
    <header>
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
            crossorigin="anonymous">
    </header>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Kellen Partridge</title>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg bg-success bg-gradient">
                <div class="navbar navbar-nav">
                    <a class="nav-link fs-2 fw-semibold" href="./home.html">Homepage</a>
                    <a class="nav-link fs-3" href="./hobbies.html">Hobbies</a>
                    <a class="nav-link fs-3" href="./projects.html">Projects</a>
                </div>
                <div class="position-absolute end-0 p-2">
                        <img src="../resources/img/letter-k.png" alt="icon" width="64" height="64"> 
                </div>        
            </nav>
        </div>
    </head>
    <body>
        <div class="container-fluid">
            <div class="d-flex bg-body-tertiary p-2">
                <div class="flex-shrink-0">
                    <img src="../resources/img/headshot.jpg" alt="kellenpartridge" width="300" height="400">
                </div>
                <div class="flex-grow-1 ms-3 bg-body-secondary p-2">
                    <p class="fs-2 fw-semibold p-1">Kellen Partridge</p>
                    <p class="fs-3 text-wrap p-1">
                        Kellen Partridge is a student of the University of Colorado at Boulder, and transferred from Arapahoe Community College with an Associate’s degree in Game Design and Development.  He is currently studying Computer Science and plans to focus on taking coursework in Numerical and Scientific Computing. Additionally, Partridge is considering complementing his studies with a minor in Applied Mathematics. He is currently completing his second year at the University of Colorado with a 3.6 GPA.
                    </p>
                    <a class="fs-4 p-1" href="./resume.html">Resume</a>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
        ></script>
        <div class="container-fluid">
            <div class="d-flex bg-dark-subtle">
                <div class="flex-shrink-0 p-2">
                    <a href="https://www.linkedin.com/in/kellen-partridge-2401b1210" target="_blank">
                        <img src="../resources/img/linkedin.png" alt="linkedin" width="72" height="72">
                    </a>
                </div>
                <div class="flex-shrink-0 p-2">
                    <a href="https://github.com/PartridgeKellen" target="_blank">
                        <img src="../resources/img/GitHub_Invertocat_Black.png" alt="github" width="72" height="72">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</html>