<!DOCTYPE html>
<html lang="en">
    <header>
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
            crossorigin="anonymous">
    </header>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>KP - Resume</title>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg bg-success bg-gradient">
                <div class="navbar navbar-nav">
                    <a class="nav-link fs-3" href="./home.html">Homepage</a>
                    <a class="nav-link fs-3" href="./hobbies.html">Hobbies</a>
                    <a class="nav-link fs-3" href="./projects.html">Projects</a>
                </div>
                <div class="position-absolute end-0 p-2">
                        <img src="../resources/img/letter-k.png" alt="icon" width="64" height="64"> 
                </div>        
            </nav>
        </div>
    </head>
    <body>
        <div class="container-fluid">
            <div class="d-flex bg-body-tertiary p-2">
                <div class="flex-grow-1 ms-3 bg-body-secondary p-2">
                    <h1 class="fw-bold">Kellen A. Partridge</h1>
                    <h2 class="fw-semibold">3185 Westwood Court - Boulder, CO 80304</h2>
                    <h2 class="fw-semibold">
                        720.520.0815
                        partridgekellen@gmail.com
                    </h2>
                    <p></p>
                    <h3 class="fw-semibold">Objective</h3>
                    <h4 class="fw-light">To obtain a position in a motivating environment in which I can utilize skills in teamwork and organization while developing skills in time management and critical thinking. </h4>
                    <p></p>
                    <h3 class="fw-semibold">Summary</h3>
                    <h4 class="fw-light">Experience in food service as well as volunteer work in the past three years, resulting in better organizational skills. Accustomed to working in fast-paced environments and stressful situations, and capable of physically demanding tasks. Graduated high school in May 2020, received an associate degree in December 2023, and began attending university in August 2024.</h4>
                    <p></p>
                    <h3 class="fw-semibold">Education</h3>
                    <h4 class="fw-medium">Bachelor of Science (BS), GPA: 3.6, Computer Science</h4>
                    <h4 class="fw-light">University of Colorado Boulder, Boulder, CO August 2024 - Present</h4>
                    <p></p>
                    <h4 class="fw-medium">Associate of Applied Science (AAS), GPA: 3.9, Game Design and Development</h4>
                    <h4 class="fw-light">Arapahoe Community College, Littleton, CO August 2020 - December 2023</h4>
                    <p></p>
                    <h4 class="fw-light">Chaparral High School, Parker, CO August 2016 - May 2020</h4>
                    <p></p>
                    <h3 class="fw-semibold">Work Experience</h3>
                    <h4 class="fw-medium">Line Cook (October 2021 - October 2022)</h4>
                    <h4 class="fw-light">AMC Theatres - Aurora, CO
                        <ul class="fw-light">
                            <li>Memorize dozens of menu items to be prepared for any order.</li>
                            <li>Prepare to assist customers by restocking supplies.</li>
                            <li>Check dates and labels on stock to ensure food safety.</li>
                            <li>Clean dining areas to maintain health code and increase customer satisfaction.</li>
                        </ul>
                    </h4>
                    <h4 class="fw-medium">Barista (November 2022 - April 2024)</h4>
                    <h4 class="fw-light">Starbucks - Aurora, CO
                        <ul class="fw-light">
                            <li>Memorize dozens of menu items to be prepared for any order.</li>
                            <li>Assist customers with information about menu items.</li>
                            <li>Check dates and labels on stock to ensure food safety.</li>
                            <li>Clean dining areas to maintain health code and increase customer satisfaction.</li>
                            <li>Multitask orders to ensure customer convenience.</li>
                        </ul>
                    </h4>
                    <h4 class="fw-medium">Barista/Seafood Clerk (May 2025 - Present)</h4>                    
                    <h4 class="fw-light">Safeway - Boulder, CO
                        <ul class="fw-light">
                            <li>Memorize dozens of menu items to be prepared for any order.</li>
                            <li>Assist customers with information about stock.</li>
                            <li>Adhere to strict food safety practices.</li>
                            <li>Cut, weigh, and wrap various meats.</li>
                            <li>Assist with counting and managing inventory.</li>
                        </ul>
                    </h4>
                    <p></p>
                    <h3 class="fw-semibold">Volunteer Experience</h3>
                    <h4 class="fw-medium">Volunteered at the Parker Food Bank (February 2020)</h4>
                    <h4 class="fw-light">Parker, CO
                        <ul class="fw-light">
                            <li>Enhanced organizational skills in a store-like environment.</li>
                            <li>Increased experience in making sure store products are in stock.</li>
                            <li>Greater ability to move heavy items.</li>
                        </ul>
                    </h4>
                    <p></p>
                    <h3 class="fw-semibold">Skills</h3>
                    <h4 class="fw-light">
                        <ul>
                            <li>Prepared to help customers because of extensive background in customer support.</li>
                            <li>Well acquainted with tedious and possibly physically demanding tasks.</li>
                            <li>Attention to detail.</li>
                            <li>Understanding of the Java and C# programming languages.</li>
                            <li>Familiarity with the Python and C programming languages.</li>

                        </ul>
                    </h4>  
                    <p></p>
                    <h3 class="fw-semibold">References</h3>
                    <h4 class="fw-light">Mr. Mark-Anthony Tran, Kitchen Manager, AMC Theatres, 720.882.1252</h4>
                    <h4 class="fw-light">Ms. Amber Hall, Store Manager, Starbucks, 720.270.9308</h4>
                    <h4 class="fw-light">Ms. Annette Crandall, Seafood Manager, Safeway, 303.552.8546</h4>
                    <p></p>
                    <a href="../resources/img/KellenPartridge-Resume.pdf" target="_blank" download="KellenPartridge-Resume.pdf">
                        <button class="btn btn-outline-success" style="--bs-btn-padding-y: 0.5rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1.75rem;"">Download PDF</button>
                    </a>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
        ></script>
        <div class="container-fluid">
            <div class="d-flex bg-dark-subtle">
                <div class="flex-shrink-0 p-2">
                    <a href="https://www.linkedin.com/in/kellen-partridge-2401b1210" target="_blank">
                        <img src="../resources/img/linkedin.png" alt="linkedin" width="72" height="72">
                    </a>
                </div>
                <div class="flex-shrink-0 p-2">
                    <a href="https://github.com/PartridgeKellen" target="_blank">
                        <img src="../resources/img/GitHub_Invertocat_Black.png" alt="github" width="72" height="72">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</html>